
    /* Dark theme styles go here */
@media(max-width: 768px) {
    body{
    background-image: url("{{ url_for('static', filename='C:\Users\Manash\OneDrive\Desktop\Projects\My Web\static\background.jpg') }}");
    background-size: cover;        /* Ensures the image covers the entire page */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    height: 100vh;                 /* Ensures the background covers the full viewport height */
    margin: 0;                     /* Removes default margin */
    width: 100%;
    /* font-family: Arial, sans-serif; Example styling for text */
    /* color: white;                  Text color (optional for contrast with background) */
}
}
@media(max-width: 768px){
    #fakeHeader{
    height: 5%;
    width: 100%;
    background-color: white;
 }
}

 

h1{
    font-size: 50px;
    font-family: Roboto;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    color: rgb(9, 9, 9);
    margin-bottom: 6px;
    /* margin-top: px; */
    width: 100%;
    text-shadow: 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
                
}

/* To round the banner shape */
/* Id specifies with ( # ) */
/* Class specifies with ( . ) */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh; 
    cursor: pointer;
}



.round-image {
    width: 450px; 
    height: 450px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #ddd; 
    /* filter: drop-shadow(0 0 12px grey); */
    -webkit-box-shadow: 0 0 20px 15px #2c2c2c2c;
    -moz-box-shadow: 0 0 20px 15px #2c2c2c2c;
    box-shadow: 0 0 20px 15px #2c2c2c2c; 
}



h2{
    font-style:Cascadia;
    font-size: 30px;
    text-align: center;
    font-family: Roboto;
    margin-bottom: 16px;
    margin-top: 6px;
    width: 100%;
}


/* Paragraph styling */

#para{
    font-weight: normal;
    font-family: Roboto;
    color: black;
    width: 100%;
}

/* styling with media query */

@media(max-width: 768px){
    nav{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
    }
}

#margin{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
    margin-top: 20px;
}

@media(max-width: 768px){
    #margin{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 90%;
}
} 


#about{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
}
@media(max-width: 768px){
    #about{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 90%;
}
}

#edu{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
}
@media(max-width: 768px){
    #edu{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 90%;
}
}

#skills{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
}
@media(max-width: 768px){
    #skills{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 90%;
}
}

#projects{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
}
@media(max-width: 768px){
    #projects{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 90%;
}
}

#socialpro{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 100%;
}
@media(max-width: 768px){
    #socialpro{
    max-width: 720px;
    margin: 0 auto 0 auto;
    width: 90%;
}
}

#button{
    border-top: 4px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}


/* Copyright */

#c_right{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 10px; */
    width: 100%;
}



#button{
    padding-left: 9px;
    /* cursor: pointer; */
}



#socialpro h1{
    padding: auto;
}

