<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-xxl-4 mb-0 text-body-secondary">© 2023 Manash Baruah, Inc</p>

    <!-- <a href="/" class="col-xxl-4 d-flex align-items-center justify-content-center mb-3 mb-xxl-0 me-xxl-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="20" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a> -->

    <ul class="nav col-xxl-4 justify-content-end">
      <li class="nav-item"><a target="_blank" href="https://www.instagram.com/manashbaruah_" class="nav-link px-2 text-body-secondary">Instagram</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.facebook.com/manash.baruah.14811" class="nav-link px-2 text-body-secondary">Facebook</a></li>
      <li class="nav-item"><a target="_blank" href="https://x.com/ManashBaruah22" class="nav-link px-2 text-body-secondary">Twitter</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
</footer>
